In [ ]:
from sqlalchemy import Column, Integer, String, Date, Text, VARCHAR, Float , MetaData, Table , select, create_engine
from sqlalchemy import ForeignKey, Sequence,func
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd 

Base = declarative_base()

db_string = "postgres://postgres:postgres@localhost:5432/EPL"
engine = create_engine(db_string)

In [114]:
db = pd.read_csv('EPL_20_21.csv')
db.head(10)

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,3,0
5,César Azpilicueta,Chelsea,ESP,DF,30,26,24,2188,1,2,2015,87.5,0,0,5,1
6,N'Golo Kanté,Chelsea,FRA,MF,29,30,24,2146,0,2,1504,86.6,0,0,7,0
7,Jorginho,Chelsea,ITA,MF,28,28,23,2010,7,1,1739,89.5,7,9,2,0
8,Thiago Silva,Chelsea,BRA,DF,35,23,23,1935,2,0,1871,93.5,0,0,5,1
9,Kurt Zouma,Chelsea,FRA,DF,25,24,22,2029,5,0,1720,91.9,0,0,3,0

In [115]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   532 non-null    object
 1   Club                   532 non-null    object
 2   Nationality            532 non-null    object
 3   Position               532 non-null    object
 4   Age                    532 non-null    int64
 5   Matches                532 non-null    int64
 6   Starts                 532 non-null    int64
 7   Mins                   532 non-null    int64
 8   Goals                  532 non-null    int64
 9   Assists                532 non-null    int64
 10  Passes_Attempted       532 non-null    int64
 11  Perc_Passes_Completed  532 non-null    float64
 12  Penalty_Goals          532 non-null    int64
 13  Penalty_Attempted      532 non-null    int64
 14  Yellow_Cards           532 non-null    int64
 15  Red_Cards              532 non-null    int64
dtypes: float64(1), int64(11), object(4)
memory usage: 66.6+ KB

In [116]:
class Statistics (Base):
    __tablename__ = 'statistics'
    id = Column(Integer, primary_key=True)
    matches = Column(Integer)
    starts = Column(Integer)
    min_played = Column(Integer)
    goals = Column(Integer)
    assists = Column(Integer)
    passes_attempted = Column(Integer)
    perc_passes_completed = Column(Float)
    penalty_goals = Column(Integer)
    penalty_attempted = Column(Integer)
    yellow_cards = Column(Integer)
    red_cards = Column(Integer)
    def __repr__(self):
        return "<statistics(id='{0}', matches='{1}', starts='{2}', min_played='{3}', goals='{4}',assists='{5}',\
    passes_attempted='{6}', %_passes_completed='{7}', penalty_goals='{8}', penalty_attempted='{9}',yellow_cards='{10}',\
    red_cards='{11}')>".format(self.id, self.matches, self.starts, self.min_played, self.goals, self.assists,\
    self.passes_attempted, self.perc_passes_completed, self.penalty_goals, self.penalty_attempted, self.yellow_cards,\
    self.red_cards)

In [117]:
class Players (Base):
    __tablename__ ='players'
    id = Column(Integer, primary_key=True)
    name = Column(String(225), nullable=False)
    club = Column(Integer,ForeignKey('clubs.id'))
    nationality = Column(Integer,ForeignKey('countries.id'))
    position = Column(String(50))
    age = Column(Integer, nullable=False)
    statistics_id = Column(Integer,ForeignKey('statistics.id'))
    def __repr__(self):
        return "<players(id='{0}', name='{1}', club='{2}', nationality='{3}', position='{4}', age='{5}',statistics_id='{6}')>"\
    .format(self.id, self.name, self.club, self.nationality, self.position, self.age, self.statisctics_id)

In [118]:
class Countries (Base):
    __tablename__= 'countries'
    id = Column(Integer, Sequence('seq_country_id'), primary_key=True)
    country_name=Column(String(50), nullable= False)
    def __repr__(self):
              return "<countries(id='{0}'), country_name='{1}'>".format(self.id, self.country_name)

In [119]:
class Clubs (Base):
    __tablename__ = 'clubs'
    id = Column(Integer, primary_key=True)
    name = Column(String(50),nullable=False)
    def __repr__(self):
        return "<clubs(id='{0}', name='{1}')>".format(self.id, self.name)

In [120]:
Base.metadata.create_all(engine)

In [121]:
all_country = db['Nationality'].unique()
all_country

array(['ENG', 'SEN', 'GER', 'ESP', 'FRA', 'ITA', 'BRA', 'CRO', 'USA',
       'DEN', 'MAR', 'SCO', 'ARG', 'POR', 'BEL', 'ALG', 'UKR', 'NED',
       'SWE', 'URU', 'SRB', 'WAL', 'CIV', 'NGA', 'EGY', 'TUR', 'CMR',
       'GUI', 'SUI', 'JPN', 'IRL', 'GRE', 'NIR', 'GHA', 'AUT', 'JAM',
       'RSA', 'CZE', 'POL', 'PAR', 'COD', 'KOR', 'COL', 'GAB', 'NOR',
       'AUS', 'BIH', 'ISL', 'MKD', 'BFA', 'ZIM', 'SVK', 'MEX', 'CAN',
       'MLI', 'IRN', 'NZL', 'MTN', 'SKN'], dtype=object)

In [122]:
country_list = pd.DataFrame(db['Nationality'].unique(), columns=['country_name'])
country_list = country_list.sort_values('country_name', ignore_index=True)
country_list.index.name='id'
country_list.to_sql('countries',engine, if_exists='append')

In [123]:
all_clubs = db['Club'].unique()
all_clubs

array(['Chelsea', 'Manchester City', 'Manchester United', 'Liverpool FC',
       'Leicester City', 'West Ham United', 'Tottenham Hotspur',
       'Arsenal', 'Leeds United', 'Everton', 'Aston Villa',
       'Newcastle United', 'Wolverhampton Wanderers', 'Crystal Palace',
       'Southampton', 'Brighton', 'Burnley', 'Fulham',
       'West Bromwich Albion', 'Sheffield United'], dtype=object)

In [125]:
club_list = pd.DataFrame(db['Club'].unique(), columns=['name'])
club_list = club_list.sort_values('name', ignore_index=True)
club_list.index.name='id'
club_list.to_sql('clubs',engine,if_exists='append')

In [142]:
statistics = pd.DataFrame(data=db, columns=('Matches','Starts','Mins','Goals','Assists', 'Passes_Attempted', 'Perc_Passes_Completed',\
                             'Penalty_Goals','Penalty_Attempted','Yellow_Cards','Red_Cards'))
statistics = statistics.rename(columns={'Matches':'matches','Starts':'starts','Mins':'min_played','Goals':'goals','Assists':'assists',\
            'Passes_Attempted':'passes_attempted','Perc_Passes_Completed':'perc_passes_completed','Penalty_Goals':'penalty_goals',\
            'Penalty_Attempted':'penalty_attempted','Yellow_Cards':'yellow_cards','Red_Cards':'red_cards'})
statistics.index.name='id'
statistics.to_sql('statistics',engine,if_exists='append')

In [155]:
players_list = pd.DataFrame(data=db, columns=('Name','Club','Nationality','Position','Age','statistics_id'))
players_list = players_list.rename(columns={'Name':'name','Club':'club','Nationality':'nationality','Age':'age','Position':'position'})
players_list['nationality']= players_list['nationality'].map(lambda x:\
                        country_list[country_list['country_name']==x].index.values.astype(int)[0])
players_list['club']=players_list['club'].map(lambda x:\
                        club_list[club_list['name']==x].index.values.astype(int)[0])
players_list['statistics_id'] = statistics.index
players_list.to_sql('players',engine,if_exists='append')

## Database check

In [6]:
metadata= MetaData()
dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)

In [164]:
mapper_stmt = select([dic_table['players'].columns.id, dic_table['players'].columns.name])
mapper_results = engine.execute(mapper_stmt).fetchall()
mapper_results

[(0, 'Mason Mount'),
 (1, 'Edouard Mendy'),
 (2, 'Timo Werner'),
 (3, 'Ben Chilwell'),
 (4, 'Reece James'),
 (5, 'César Azpilicueta'),
 (6, "N'Golo Kanté"),
 (7, 'Jorginho'),
 (8, 'Thiago Silva'),
 (9, 'Kurt Zouma'),
 (10, 'Mateo Kovačić'),
 (11, 'Antonio Rüdiger'),
 (12, 'Christian Pulisic'),
 (13, 'Kai Havertz'),
 (14, 'Andreas Christensen'),
 (15, 'Hakim Ziyech'),
 (16, 'Tammy Abraham'),
 (17, 'Marcos Alonso'),
 (18, 'Callum Hudson-Odoi'),
 (19, 'Olivier Giroud'),
 (20, 'Kepa Arrizabalaga'),
 (21, 'Billy Gilmour'),
 (22, 'Willy Caballero'),
 (23, 'Ruben Loftus-Cheek'),
 (24, 'Emerson Palmieri'),
 (25, 'Fikayo Tomori'),
 (26, 'Ross Barkley'),
 (27, 'Ederson'),
 (28, 'Rúben Dias'),
 (29, 'Rodri'),
 (30, 'Raheem Sterling'),
 (31, 'João Cancelo'),
 (32, 'Bernardo Silva'),
 (33, 'İlkay Gündoğan'),
 (34, 'Kevin De Bruyne'),
 (35, 'Riyad Mahrez'),
 (36, 'Gabriel Jesus'),
 (37, 'Kyle Walker'),
 (38, 'John Stones'),
 (39, 'Phil Foden'),
 (40, 'Oleksandr Zinchenko'),
 (41, 'Ferrán Torres'),
 (42, 'Aymeric Laporte'),
 (43, 'Fernandinho'),
 (44, 'Benjamin Mendy'),
 (45, 'Nathan Aké'),
 (46, 'Sergio Agüero'),
 (47, 'Eric García'),
 (48, 'Scott Carson'),
 (49, 'Zack Steffen'),
 (50, 'Liam Delap'),
 (51, 'Bruno Fernandes'),
 (52, 'Aaron Wan-Bissaka'),
 (53, 'Harry Maguire'),
 (54, 'Marcus Rashford'),
 (55, 'Luke Shaw'),
 (56, 'Victor Lindelöf'),
 (57, 'Fred'),
 (58, 'David de Gea'),
 (59, 'Scott McTominay'),
 (60, 'Paul Pogba'),
 (61, 'Mason Greenwood'),
 (62, 'Anthony Martial'),
 (63, 'Edinson Cavani'),
 (64, 'Dean Henderson'),
 (65, 'Nemanja Matić'),
 (66, 'Daniel James'),
 (67, 'Eric Bailly'),
 (68, 'Alex Telles'),
 (69, 'Juan Mata'),
 (70, 'Donny van de Beek'),
 (71, 'Axel Tuanzebe'),
 (72, 'Brandon Williams'),
 (73, 'Amad Diallo'),
 (74, 'Anthony Elanga'),
 (75, 'Timothy Fosu-Mensah'),
 (76, 'Shola Shoretire'),
 (77, 'Odion Ighalo'),
 (78, 'Hannibal Mejbri'),
 (79, 'William Thomas Fish'),
 (80, 'Andrew Robertson'),
 (81, 'Mohamed Salah'),
 (82, 'Trent Alexander-Arnold'),
 (83, 'Georginio Wijnaldum'),
 (84, 'Alisson'),
 (85, 'Roberto Firmino'),
 (86, 'Sadio Mané'),
 (87, 'Fabinho'),
 (88, 'Thiago Alcántara'),
 (89, 'Jordan Henderson'),
 (90, 'Nathaniel Phillips'),
 (91, 'Curtis Jones'),
 (92, 'Diogo Jota'),
 (93, 'James Milner'),
 (94, 'Ozan Kabak'),
 (95, 'Joël Matip'),
 (96, 'Rhys Williams'),
 (97, 'Naby Keïta'),
 (98, 'Joe Gomez'),
 (99, 'Xherdan Shaqiri'),
 (100, 'Virgil van Dijk'),
 (101, 'Adrián'),
 (102, 'Neco Williams'),
 (103, 'Takumi Minamino'),
 (104, 'Alex Oxlade-Chamberlain'),
 (105, 'Divock Origi'),
 (106, 'Caoimhín Kelleher'),
 (107, 'Kostas Tsimikas'),
 (108, 'Kasper Schmeichel'),
 (109, 'Youri Tielemans'),
 (110, 'Jamie Vardy'),
 (111, 'Jonny Evans'),
 (112, 'Timothy Castagne'),
 (113, 'Wesley Fofana'),
 (114, 'Wilfred Ndidi'),
 (115, 'James Maddison'),
 (116, 'James Justin'),
 (117, 'Harvey Barnes'),
 (118, 'Çağlar Söyüncü'),
 (119, 'Marc Albrighton'),
 (120, 'Kelechi Iheanacho'),
 (121, 'Nampalys Mendy'),
 (122, 'Ayoze Pérez'),
 (123, 'Luke Thomas'),
 (124, 'Ricardo Pereira'),
 (125, 'Dennis Praet'),
 (126, 'Daniel Amartey'),
 (127, 'Christian Fuchs'),
 (128, 'Hamza Choudhury'),
 (129, 'Cengiz Ünder'),
 (130, 'Sidnei Tavares'),
 (131, 'Islam Slimani'),
 (132, 'Demarai Gray'),
 (133, 'Wes Morgan'),
 (134, 'Khanya Leshabela'),
 (135, 'Tomáš Souček'),
 (136, 'Aaron Cresswell'),
 (137, 'Łukasz Fabiański'),
 (138, 'Vladimír Coufal'),
 (139, 'Declan Rice'),
 (140, 'Pablo Fornals'),
 (141, 'Jarrod Bowen'),
 (142, 'Angelo Ogbonna'),
 (143, 'Michail Antonio'),
 (144, 'Craig Dawson'),
 (145, 'Jesse Lingard'),
 (146, 'Issa Diop'),
 (147, 'Saïd Benrahma'),
 (148, 'Fabián Balbuena'),
 (149, 'Arthur Masuaku'),
 (150, 'Sébastien Haller'),
 (151, 'Mark Noble'),
 (152, 'Ryan Fredericks'),
 (153, 'Manuel Lanzini'),
 (154, 'Ben Johnson'),
 (155, 'Darren Randolph'),
 (156, 'Andriy Yarmolenko'),
 (157, 'Robert Snodgrass'),
 (158, 'Felipe Anderson'),
 (159, 'Pierre Højbjerg'),
 (160, 'Hugo Lloris'),
 (161, 'Son Heung-min'),
 (162, 'Harry Kane'),
 (163, 'Eric Dier'),
 (164, 'Tanguy Ndombele'),
 (165, 'Sergio Reguilón'),
 (166, 'Toby Alderweireld'),
 (167, 'Serge Aurier'),
 (168, 'Davinson Sánchez'),
 (169, 'Moussa Sissoko'),
 (170, 'Lucas Moura'),
 (171, 'Ben Davies'),
 (172, 'Matt Doherty'),
 (173, 'Steven Bergwijn'),
 (174, 'Giovani Lo Celso'),
 (175, 'Gareth Bale'),
 (176, 'Harry Winks'),
 (177, 'Joe Rodon'),
 (178, 'Dele Alli'),
 (179, 'Japhet Tanganga'),
 (180, 'Érik Lamela'),
 (181, 'Carlos Vinícius'),
 (182, 'Dane Scarlett'),
 (183, 'Bernd Leno'),
 (184, 'Bukayo Saka'),
 (185, 'Granit Xhaka'),
 (186, 'Rob Holding'),
 (187, 'Pierre-Emerick Aubameyang'),
 (188, 'Kieran Tierney'),
 (189, 'Héctor Bellerín'),
 (190, 'Gabriel Dos Santos'),
 (191, 'Alexandre Lacazette'),
 (192, 'Thomas Partey'),
 (193, 'Emile Smith-Rowe'),
 (194, 'Dani Ceballos'),
 (195, 'Mohamed Elneny'),
 (196, 'David Luiz'),
 (197, 'Nicolas Pépé'),
 (198, 'Willian'),
 (199, 'Pablo Marí'),
 (200, 'Martin Ødegaard'),
 (201, 'Calum Chambers'),
 (202, 'Cédric Soares'),
 (203, 'Martinelli'),
 (204, 'Ainsley Maitland-Niles'),
 (205, 'Eddie Nketiah'),
 (206, 'Mathew Ryan'),
 (207, 'Joe Willock'),
 (208, 'Sead Kolašinac'),
 (209, 'Reiss Nelson'),
 (210, 'Shkodran Mustafi'),
 (211, 'Rúnar Alex Rúnarsson'),
 (212, 'Stuart Dallas'),
 (213, 'Luke Ayling'),
 (214, 'Patrick Bamford'),
 (215, 'Illan Meslier'),
 (216, 'Jack Harrison'),
 (217, 'Ezgjan Alioski'),
 (218, 'Kalvin Phillips'),
 (219, 'Mateusz Klich'),
 (220, 'Raphael Dias Belloli'),
 (221, 'Liam Cooper'),
 (222, 'Pascal Struijk'),
 (223, 'Tyler Roberts'),
 (224, 'Rodrigo'),
 (225, 'Diego Llorente'),
 (226, 'Hélder Costa'),
 (227, 'Robin Koch'),
 (228, 'Jamie Shackleton'),
 (229, 'Pablo Hernández'),
 (230, 'Kiko Casilla'),
 (231, 'Gaetano Berardi'),
 (232, 'Ian Carlo Poveda'),
 (233, 'Niall Huggins'),
 (234, 'Leif Davis'),
 (235, 'Michael Keane'),
 (236, 'Richarlison'),
 (237, 'Dominic Calvert-Lewin'),
 (238, 'Jordan Pickford'),
 (239, 'Lucas Digne'),
 (240, 'Ben Godfrey'),
 (241, 'Abdoulaye Doucouré'),
 (242, 'Mason Holgate'),
 (243, 'Gylfi Sigurðsson'),
 (244, 'Allan'),
 (245, 'Yerry Mina'),
 (246, 'James Rodríguez'),
 (247, 'Séamus Coleman'),
 (248, 'André Gomes'),
 (249, 'Alex Iwobi'),
 (250, 'Tom Davies'),
 (251, 'Robin Olsen'),
 (252, 'Bernard'),
 (253, 'Fabian Delph'),
 (254, 'Anthony Gordon'),
 (255, 'Niels Nkounkou'),
 (256, 'Jonjoe Kenny'),
 (257, 'Joshua King'),
 (258, 'Cenk Tosun'),
 (259, 'João Virgínia'),
 (260, 'Moise Kean'),
 (261, 'Theo Walcott'),
 (262, 'Jean-Philippe Gbamin'),
 (263, 'Nathan Broadhead'),
 (264, 'Emiliano Martínez'),
 (265, 'Matt Targett'),
 (266, 'John McGinn'),
 (267, 'Ollie Watkins'),
 (268, 'Tyrone Mings'),
 (269, 'Ezri Konsa'),
 (270, 'Douglas Luiz'),
 (271, 'Bertrand Traoré'),
 (272, 'Matty Cash'),
 (273, 'Jack Grealish'),
 (274, 'Ross Barkley'),
 (275, 'Anwar El Ghazi'),
 (276, 'Trézéguet'),
 (277, 'Marvelous Nakamba'),
 (278, 'Ahmed Elmohamady'),
 (279, 'Kortney Hause'),
 (280, 'Jacob Ramsey'),
 (281, 'Morgan Sanson'),
 (282, 'Conor Hourihane'),
 (283, 'Keinan Davis'),
 (284, 'Carney Chukwuemeka'),
 (285, 'Wesley Moraes'),
 (286, 'Neil Taylor'),
 (287, 'Jaden Philogene Bidace'),
 (288, 'Jonjo Shelvey'),
 (289, 'Miguel Almirón'),
 (290, 'Karl Darlow'),
 (291, 'Federico Fernández'),
 (292, 'Callum Wilson'),
 (293, 'Joelinton'),
 (294, 'Isaac Hayden'),
 (295, 'Ciaran Clark'),
 (296, 'Jamal Lewis'),
 (297, 'Jamaal Lascelles'),
 (298, 'Allan Saint-Maximin'),
 (299, 'Jacob Murphy'),
 (300, 'Jeff Hendrick'),
 (301, 'Sean Longstaff'),
 (302, 'Matt Ritchie'),
 (303, 'Emil Krafth'),
 (304, 'Paul Dummett'),
 (305, 'Fabian Schär'),
 (306, 'Martin Dúbravka'),
 (307, 'Joe Willock'),
 (308, 'Javier Manquillo'),
 (309, 'Ryan Fraser'),
 (310, 'DeAndre Yedlin'),
 (311, 'Dwight Gayle'),
 (312, 'Andy Carroll'),
 (313, 'Matthew Longstaff'),
 (314, 'Elliot Anderson'),
 (315, 'Rui Patrício'),
 (316, 'Conor Coady'),
 (317, 'Nélson Semedo'),
 (318, 'Rúben Neves'),
 (319, 'Pedro Neto'),
 (320, 'Adama Traoré'),
 (321, 'João Moutinho'),
 (322, 'Leander Dendoncker'),
 (323, 'Romain Saïss'),
 (324, 'Daniel Podence'),
 (325, 'Willy Boly'),
 (326, 'Rayan Aït Nouri'),
 (327, 'Max Kilman'),
 (328, 'Willian José'),
 (329, 'Fábio Silva'),
 (330, 'Raúl Jiménez'),
 (331, 'Fernando Marçal'),
 (332, 'Jonny Castro'),
 (333, 'Ki-Jana Hoever'),
 (334, 'Vitinha'),
 (335, 'Morgan Gibbs-White'),
 (336, 'Owen Otasowie'),
 (337, 'Rúben Vinagre'),
 (338, 'John Ruddy'),
 (339, 'Patrick Cutrone'),
 (340, 'Oskar Buur'),
 (341, 'Theo Corbeanu'),
 (342, 'Vicente Guaita'),
 (343, 'Cheikhou Kouyaté'),
 (344, 'Wilfried Zaha'),
 (345, 'Eberechi Eze'),
 (346, 'Luka Milivojević'),
 (347, 'Andros Townsend'),
 (348, 'Joel Ward'),
 (349, 'Jordan Ayew'),
 (350, 'Christian Benteke'),
 (351, 'Gary Cahill'),
 (352, 'Patrick van Aanholt'),
 (353, 'Jaïro Riedewald'),
 (354, 'Tyrick Mitchell'),
 (355, 'James McArthur'),
 (356, 'Jeffrey Schlupp'),
 (357, 'Scott Dann'),
 (358, 'Nathaniel Clyne'),
 (359, 'James McCarthy'),
 (360, 'Michy Batshuayi'),
 (361, 'James Tomkins'),
 (362, 'Mamadou Sakho'),
 (363, 'Jean-Philippe Mateta'),
 (364, 'Jack Butland'),
 (365, 'Martin Kelly'),
 (366, 'James Ward-Prowse'),
 (367, 'Jan Bednarek'),
 (368, 'Stuart Armstrong'),
 (369, 'Alex McCarthy'),
 (370, 'Che Adams'),
 (371, 'Kyle Walker-Peters'),
 (372, 'Ryan Bertrand'),
 (373, 'Jannik Vestergaard'),
 (374, 'Danny Ings'),
 (375, 'Oriol Romeu'),
 (376, 'Theo Walcott'),
 (377, 'Nathan Redmond'),
 (378, 'Jack Stephens'),
 (379, 'Moussa Djenepo'),
 (380, 'Ibrahima Diallo'),
 (381, 'Takumi Minamino'),
 (382, 'Mohammed Salisu'),
 (383, 'Fraser Forster'),
 (384, 'Nathan Tella'),
 (385, 'William Smallbone'),
 (386, 'Shane Long'),
 (387, 'Yan Valery'),
 (388, 'Kayne Ramsey'),
 (389, 'Jake Vokins'),
 (390, 'Alexandre Jankewitz'),
 (391, 'Dan Nlundulu'),
 (392, 'Michael Obafemi'),
 (393, 'Caleb Watts'),
 (394, 'Allan Tchaptchet'),
 (395, 'Ben White'),
 (396, 'Yves Bissouma'),
 (397, 'Lewis Dunk'),
 (398, 'Leandro Trossard'),
 (399, 'Adam Webster'),
 (400, 'Neal Maupay'),
 (401, 'Pascal Groß'),
 (402, 'Robert Sánchez'),
 (403, 'Joël Veltman'),
 (404, 'Dan Burn'),
 (405, 'Solly March'),
 (406, 'Danny Welbeck'),
 (407, 'Adam Lallana'),
 (408, 'Alexis Mac Allister'),
 (409, 'Mathew Ryan'),
 (410, 'Tariq Lamptey'),
 (411, 'Steven Alzate'),
 (412, 'Aaron Connolly'),
 (413, 'Jakub Moder'),
 (414, 'Alireza Jahanbakhsh'),
 (415, 'Davy Pröpper'),
 (416, 'Bernardo'),
 (417, 'Percy Tau'),
 (418, 'Andi Zeqiri'),
 (419, 'José Izquierdo'),
 (420, 'Reda Khadra'),
 (421, 'Jayson Molumby'),
 (422, 'Ashley Westwood'),
 (423, 'James Tarkowski'),
 (424, 'Dwight McNeil'),
 (425, 'Matthew Lowton'),
 (426, 'Nick Pope'),
 (427, 'Josh Brownhill'),
 (428, 'Chris Wood'),
 (429, 'Ben Mee'),
 (430, 'Charlie Taylor'),
 (431, 'Jóhann Berg Guðmundsson'),
 (432, 'Matěj Vydra'),
 (433, 'Jack Cork'),
 (434, 'Ashley Barnes'),
 (435, 'Erik Pieters'),
 (436, 'Jay Rodriguez'),
 (437, 'Robbie Brady'),
 (438, 'Kevin Long'),
 (439, 'Bailey Peacock-Farrell'),
 (440, 'Phil Bardsley'),
 (441, 'Jimmy Dunne'),
 (442, 'Dale Stephens'),
 (443, 'Josh Benson'),
 (444, 'Will Norris'),
 (445, 'Joel Mumbongo'),
 (446, 'Lewis Richardson'),
 (447, 'Alphonse Areola'),
 (448, 'Tosin Adarabioyo'),
 (449, 'Ademola Lookman'),
 (450, 'Ola Aina'),
 (451, 'Joachim Andersen'),
 (452, 'Andre-Frank Zambo Anguissa'),
 (453, 'Bobby Reid'),
 (454, 'Ivan Cavaleiro'),
 (455, 'Harrison Reed'),
 (456, 'Antonee Robinson'),
 (457, 'Ruben Loftus-Cheek'),
 (458, 'Mario Lemina'),
 (459, 'Kenny Tete'),
 (460, 'Aleksandar Mitrović'),
 (461, 'Josh Maja'),
 (462, 'Tom Cairney'),
 (463, 'Joe Bryan'),
 (464, 'Tim Ream'),
 (465, 'Josh Onomah'),
 (466, 'Denis Odoi'),
 (467, 'Michael Hector'),
 (468, 'Fabio Carvalho'),
 (469, 'Aboubakar Kamara'),
 (470, 'Marek Rodák'),
 (471, 'Maxime Le Marchand'),
 (472, 'Neeskens Kebano'),
 (473, 'Terence Kongolo'),
 (474, 'Tyrese Francois'),
 (475, 'Sam Johnstone'),
 (476, 'Darnell Furlong'),
 (477, 'Semi Ajayi'),
 (478, 'Matheus Pereira'),
 (479, 'Kyle Bartley'),
 (480, 'Conor Gallagher'),
 (481, 'Conor Townsend'),
 (482, "Dara O'Shea"),
 (483, 'Matt Phillips'),
 (484, 'Callum Robinson'),
 (485, 'Romaine Sawyers'),
 (486, 'Okay Yokuşlu'),
 (487, 'Jake Livermore'),
 (488, 'Grady Diangana'),
 (489, 'Ainsley Maitland-Niles'),
 (490, 'Mbaye Diagne'),
 (491, 'Karlan Grant'),
 (492, 'Kieran Gibbs'),
 (493, 'Branislav Ivanović'),
 (494, 'Robert Snodgrass'),
 (495, 'Filip Krovinović'),
 (496, 'Lee Peltier'),
 (497, 'Hal Robson-Kanu'),
 (498, 'Kamil Grosicki'),
 (499, 'Kyle Edwards'),
 (500, 'David Button'),
 (501, 'Ahmed Hegazi'),
 (502, 'Charlie Austin'),
 (503, 'Sam Field'),
 (504, 'Rekeem Harper'),
 (505, 'Aaron Ramsdale'),
 (506, 'George Baldock'),
 (507, 'Chris Basham'),
 (508, 'Enda Stevens'),
 (509, 'John Egan'),
 (510, 'John Fleck'),
 (511, 'David McGoldrick'),
 (512, 'Oliver Norwood'),
 (513, 'Ethan Ampadu'),
 (514, 'John Lundstram'),
 (515, 'Ben Osborn'),
 (516, 'Oliver Burke'),
 (517, 'Sander Berge'),
 (518, 'Oliver McBurnie'),
 (519, 'Rhian Brewster'),
 (520, 'Jayden Bogle'),
 (521, 'Kean Bryan'),
 (522, 'Jack Robinson'),
 (523, 'Billy Sharp'),
 (524, 'Max Lowe'),
 (525, 'Phil Jagielka'),
 (526, 'Daniel Jebbison'),
 (527, 'Lys Mousset'),
 (528, "Jack O'Connell"),
 (529, 'Iliman Ndiaye'),
 (530, 'Antwoine Hackford'),
 (531, 'Femi Seriki')]

## Filtering data

In [179]:
#cheat sheet for club numbers
mapper_stmt = select([dic_table['clubs'].columns.id, dic_table['clubs'].columns.name])
mapper_results = engine.execute(mapper_stmt).fetchall()
mapper_results

[(0, 'Arsenal'),
 (1, 'Aston Villa'),
 (2, 'Brighton'),
 (3, 'Burnley'),
 (4, 'Chelsea'),
 (5, 'Crystal Palace'),
 (6, 'Everton'),
 (7, 'Fulham'),
 (8, 'Leeds United'),
 (9, 'Leicester City'),
 (10, 'Liverpool FC'),
 (11, 'Manchester City'),
 (12, 'Manchester United'),
 (13, 'Newcastle United'),
 (14, 'Sheffield United'),
 (15, 'Southampton'),
 (16, 'Tottenham Hotspur'),
 (17, 'West Bromwich Albion'),
 (18, 'West Ham United'),
 (19, 'Wolverhampton Wanderers')]

In [2]:
def select_players(club):
    '''
    Selecting club members by club number
    :param club: int
    :return df: DataFrame, ['player_id'] int, ['player_name'] str
    :return club_name: str
    '''
    mapper_stmt = select([dic_table['players'].c.id, dic_table['players'].columns.name]).\
        where(dic_table['players'].c.club == club).order_by(dic_table['players'].c.name)
    mapper_results = engine.execute(mapper_stmt).fetchall()
    df = pd.DataFrame(mapper_results, columns=('player_id','player_name'))
    mapper_stmt = select([dic_table['clubs'].columns.id, dic_table['clubs'].columns.name])
    club_names = engine.execute(mapper_stmt).fetchall()
    club_name = club_names[club][1]
    return df, club_name

In [3]:
df, club_name = select_players(0)
print(f"{club_name} players:")
df

NameError: name 'select' is not defined

## EPLs teams average age

In [89]:
mapper_stmt = select([dic_table['players'].c.club, dic_table['clubs'].c.name, func.avg(dic_table['players'].columns.age)]).\
            select_from(dic_table['clubs'].join(dic_table['players'], dic_table['clubs'].c.id == dic_table['players'].c.club)).\
            group_by(dic_table['players'].c.club, dic_table['clubs'].c.name).order_by(func.avg(dic_table['players'].columns.age))
mapper_results = engine.execute(mapper_stmt).fetchall()
avg_age = pd.DataFrame(mapper_results, columns=['club_id','club_name','avg_age'])
avg_age['avg_age'] = avg_age['avg_age'].astype(float).round(2)
avg_age.style.set_caption("Average age of EPLs teams")

## Top 10 most scoring players in EPL

In [98]:
mapper_stmt = select([dic_table['players'].c.id, dic_table['players'].c.name, dic_table['statistics'].c.goals]).\
    select_from(dic_table['players'].join(dic_table['statistics'], dic_table['players'].c.statistics_id == \
    dic_table['statistics'].c.id)).order_by(dic_table['statistics'].c.goals.desc()).limit(10)
mapper_results = engine.execute(mapper_stmt).fetchall()
most_scoring_players = pd.DataFrame(mapper_results, columns=('player_id','player_name','goals'))
most_scoring_players

   player_id            player_name  goals
0        162             Harry Kane     23
1         81          Mohamed Salah     22
2         51        Bruno Fernandes     18
3        214        Patrick Bamford     17
4        161          Son Heung-min     17
5        237  Dominic Calvert-Lewin     16
6        110            Jamie Vardy     15
7        267          Ollie Watkins     14
8         33         İlkay Gündoğan     13
9        191    Alexandre Lacazette     13

## Top 20 players that spent the most time on field

In [100]:
mapper_stmt = select([dic_table['players'].c.id, dic_table['players'].c.name, dic_table['statistics'].c.min_played]).\
    select_from(dic_table['players'].join(dic_table['statistics'], dic_table['players'].c.statistics_id == \
    dic_table['statistics'].c.id)).order_by(dic_table['statistics'].c.min_played.desc()).limit(20)
mapper_results = engine.execute(mapper_stmt).fetchall()
most_plaing_players = pd.DataFrame(mapper_results, columns=('player_id','player_name','min'))
most_plaing_players

    player_id        player_name   min
0         108  Kasper Schmeichel  3420
1         159    Pierre Højbjerg  3420
2         160        Hugo Lloris  3420
3         264  Emiliano Martínez  3420
4         505     Aaron Ramsdale  3420
5         366  James Ward-Prowse  3420
6         135       Tomáš Souček  3419
7         422    Ashley Westwood  3410
8         212      Stuart Dallas  3409
9         265       Matt Targett  3404
10        213        Luke Ayling  3399
11         80   Andrew Robertson  3383
12        109    Youri Tielemans  3357
13        266        John McGinn  3330
14        475      Sam Johnstone  3330
15        342     Vicente Guaita  3330
16        315       Rui Patrício  3329
17        267      Ollie Watkins  3328
18        316        Conor Coady  3303
19         27            Ederson  3240